<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.maxluxs.pr7">

    <application
        android:allowBackup="true"
        android:icon="@drawable/res_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/res_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pr7">
        <activity
            android:name=".WifiActivity"
            android:exported="false" />
        <activity
            android:name=".ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".BatarryActivity"
            android:exported="false"
            android:label="@string/title_activity_batarry"
            android:theme="@style/Theme.Pr7.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>